In [3]:
import pandas as pd
import numpy as np

In [4]:
students_perfromance = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [38]:
students_perfromance

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

**1_5_1**
У какой доли студентов из датасэта в колонке lunch указано free/reduced?

In [25]:
students_perfromance.loc[students_perfromance.lunch == 'free/reduced'].shape[0]/students_perfromance.shape[0]

0.355

**1_5_2** Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?

In [44]:
students_perfromance.groupby('lunch').aggregate({'math score':['mean', 'var'], 'reading score':['mean', 'var'], 'writing score' :['mean', 'var']})

             math score             reading score             writing score  \
                   mean         var          mean         var          mean
lunch
free/reduced  58.921127  229.824270     64.653521  221.871139     63.022535
standard      70.034109  186.418089     71.654264  191.285560     70.823256


                     var
lunch
free/reduced  238.202881
standard      205.620887

**1_5_6**
Важной частью нашего курса будут задачи на программирование. Давайте попробуем решить первую задачу вместе.

В переменной df  сохранен датафрэйм с произвольным числом колонок и строк. Отберите колонки, в которых есть '-' в датафрэйме df (вот соответствующий датасэт). Сохраните их в переменную selected_columns

Если в условии задачи сообщается, что в некой переменной уже сохранен датафрэйм или другой объект, не нужно пересоздавать его самостоятельно, сразу начинайте работать с этой переменной.

In [46]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/column_hell.csv')

In [48]:
selected_columns = df.filter(like='-')